<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--NOTE: we will need to make this more generic to the environment. TODO: move this variable to be more application specific (publisher vs control vs advertiser)-->
    <add key="PllayDevEnvironment" value="http://publisher.flexoffers.com" />
  </appSettings>
</configuration>